.txt{
	max-width: auto;
	background-color: blue;
	max-height: 400px;
	text-align: center;
}
.CustomDiv{
	color: light green;
	font-size: large;
	min-height: 650px;
	background-color: #9F5FF7;
	cursor: grab;
	border:3px solid green;
}
.sideBar{
	
	font-size: large;
	background-color: #9F5FF7;
	min-height: 600px;
	border:2px solid tomato;
}
.img-responsive{
	
	border:3px solid pink;
}
.stuPhoto{
	cursor: grab;
	max-height: 250px;
	background-color: #9F5FF7;
	border:  2px solid yellow;
}